{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block body %}
<div class="container">
    <div class="card">
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
            <!-- <li class="tab"><a class="active" href="#test3">Ansible + Python</a></li> -->
            <li class="tab"><a class="" href="#test4">Python Developer</a></li>
            <!-- <li class="tab"><a class="" href="#test5">DevOps Engineer</a></li> -->
            <li class="tab"><a class="" href="#test6">Data Scientist</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="test3">Test 0</div>
            <div id="test4">Test 1</div>
            <div id="test5">Test 2</div>
            <div id="test6">Test 3</div>
        </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
